.body{
    background: #000;
}
.reportHeader{
    background-color: #EEEEEE;
    height: 50px;
    padding-left: 15px;
    border-bottom: #868686;
}

.reportHeader a{
    color: #000;
}

.highcharts-background{
background-color: none;
}

.searchField{
    border-radius: 15px;
    width: 250px;
    height: 30px;
    font-size: 0.8em;
    border-color: black;
    background-color: #F5F5F5;
}

.applyFilterbtn{
    background-color: #8EF8FF;
    height: 30px;
    border-radius: 15px;
    font-size: 0.8em;
    color: #003b1e;
    border: none;
    padding: 4px 30px;
}



.applyFilterbtn:hover{
    background-color: rgb(0, 230, 122);
    color: #003b1e;
}
.resetFiltersBtn{
    background-color: transparent;
    height: 30px;
    border-radius: 15px;
    font-size: 0.8em;
    color: #003b1e !important;
    border: 1px solid #003b1e ;
    padding: 4px 30px;
    float: right;
    margin-left: 10px;

}

.resetFiltersBtn:hover{
    background-color: transparent;
}
.nav-link .active {
    border-top: 4px !important;
    border-color: #8EF8FF !important;
}

/* Hightcharts */

/* General */


ul{
    
    margin-left:-35px;;
}

ul li{
    list-style-type: none;
}
li p{
    text-align: right;
}
li {
    font-size: 11px;
    display: block;
}
.btn{
    padding:0 10px;
    color: #fff;
    min-width: 80px;
    font-size: 12px;
}
.card {
    margin-top: 10px;
    padding: 0;
}
.card-body{
    padding: 2px 15px;
}
.card-body h6{
    color: #006799
}
.card-body p{
    color: #006799;
    font-size: 10px;
    display: inline;
    vertical-align: middle;
}

.card-pie {
    max-height: 180px;
}

.graph-container {
    height: 250px;
    margin: 0 auto;
}

.solidGaugeRot{
    transform: rotate(-100deg);
    background-color: transparent;
}
.gaugeValue{
    transform: rotate(100deg)
}


/* styledChart */
/* 
.highcharts-color-0 {
	fill: #8EF8FF;
	
}

.highcharts-color-1 {
	fill: #0088BC;
	
}

.highcharts-color-2 {
	fill: #006799;
	
}

.highcharts-color-3 {
	fill: #00C2E2;
	
} */
